<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar/blob/master/Conditionals_UoPeople.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
quotient = 7 / 3
print(quotient)

2.3333333333333335

In [ ]:
remainder = 7 %3 #7:2=3, with 1 left over.lol
print(remainder)

1

In [ ]:
5 == 5

True

In [ ]:
5 >5

False

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
#n%2 = 0 or n%3 = 0 is true, only if the number is divisible by 2 or 3

In [ ]:
17 and True #any non 0 number is True

True

In [ ]:
0 and True

0

In [ ]:
0 and False

0

In [ ]:
0 and 17

0

Conditional execution

In [ ]:
x = 5
if x > 0: #after if is a condition.
  print('x is positive')

x is positive

Alternative Execution

In [ ]:
if x % 2 == 0:
  print('x is even')
else:
  print('x is odd')

x is odd

Chained Conditionals

In [ ]:
y = 12
if x < y:
  print('x is less than y')
elif x > y:
  print('x is greater than y')
else:
  print('x and y are equal')

x is less than y

In [ ]:
choice = 7 #added this line myself cuz it's not gonna execute. 
if choice == 'a':
  draw_a()
elif choice == 'b':
  draw_b()
elif choice == 'c':
  draw_c()

Nested Conditionals

In [ ]:
#trichotomy
if x == y:
  print('x and y are equal')
else:
  if x < y:
    print('x is less than y')
  else:
    print('x is greater than y')

x is less than y

In [ ]:
#logical operator
if x > 0:
  if x < 10:
    print('x is a positive single digit number')

x is a positive single digit number

In [ ]:
if 0 < x and x > 10:
  print('x is a positive single digit number')

Recursion

In [ ]:

def countdown(n):
  if n <=0:
     print('Blastoff!')
  else:
    print(n)
    countdown(n-1)
countdown(3)

3
2
1
Blastoff!

In [ ]:
def print_n(s, n):
  if n <=0:
    return
    print(s)
    print_n(s, n-1)

chained conditionals

In [ ]:
x = 4
y = 4

if x == 2:
  if y == 3:
    print('x=2, y=3')
  else:
    print('x = 2, y!=3')
else:
  print('x!=2')

x!=2

In [ ]:
x = 2
y = 4

if x == 2:
  if y == 3:
    print('x=2, y=3')
  else:
    print('x = 2, y!=3')
else:
  print('x!=2')

x = 2, y!=3

In [ ]:
x = 4
y = 3

if x == 2:
  if y == 3:
    print('x=2, y=3')
  else:
    print('x = 2, y!=3')
else:
  print('x!=2')

x!=2

In [ ]:
x = 2
y = 3

if x == 2:
  if y == 3:
    print('x=2, y=3')
  else:
    print('x = 2, y!=3')
else:
  print('x!=2')

x=2, y=3

Chained conditionals are for connecting conditions together with if, while loop. These conditions are: and, or, not.

In [ ]:
a = 3
if a > 1 and a < 4:
  print('a is between 1 and 4')

a is between 1 and 4

In [ ]:
a > 1

True

In [ ]:
a < 4

True

In [ ]:
a = 3
if a > 1 and a < 3:
  print('a is between 1 and 3') #nothing happens since the 2nd conditional is false. Both sides should be true

In [ ]:
a > 1

True

In [ ]:
a < 3

False

In [ ]:
if a > 1 or a < 3:
  print('a is either greater than 1 or less than 3')

a is either greater than 1 or less than 3

In [ ]:
a > 1

True

In [ ]:
a<3

False

In [ ]:
if a < 1 or a < 3:
  print('a is either less than 1 or less than 3') #nothing is outputted since both statements are False

In [ ]:
if a < 1  not a < 3

SyntaxError: ignored

In [ ]:
a =3
if a ==3:
  print('a is 3')

a is 3

In [ ]:
if not a == 3:
  print('a is not 3') #nothing cuz a =3

In [ ]:
not a ==3

False

In [ ]:
if a > 1 and not a < 3:
  print('a is greater than 1 and not less than 3')

a is greater than 1 and not less than 3

In [ ]:
a > 1

True

In [ ]:
not a < 3

True

Nested *conditionals* is inside another conditional

In [ ]:
if 11 > 10:
  if 5> 6:
    print('hello') #nothing happens since 5 is not > 6

In [ ]:
if 11 > 10 and 5>6:
  print('hello') #same as above in chained conditional

In [ ]:
for i in range(5):
  for i in range(i):
    print(i) #didn't get this part

0
0
1
0
1
2
0
1
2
3

In [ ]:
for i in range(5):
  if i>2:
    print(i)

3
4

In [ ]:
if 11 > 10:
  for i in range(5):
    print(i*2)

0
2
4
6
8

In [ ]:
student = input("Enter your name:")
gender = input("Are you male or female?(M or F):").upper()
year = int(input('What year in school are you? (1,2,3 or 4):'))

Enter your name:Gaukhar
Are you male or female?(M or F):F
What year in school are you? (1,2,3 or 4):4

In [ ]:
if gender == "F":
  if year > 3:
    dorm = "Gryffindor"
  else:
    dorm = 'Hufflepuff'
elif gender == "M":
  if year < 3:
    dorm = "Ravensclaw"
  else:
    dorm = "Slytherin"
else:
  dorm = 'your own home'
print('{0} you will be residing in {1}.'.format(student, dorm))

Gaukhar you will be residing in Gryffindor.

In [ ]:
if 7 > 5:
  if 8 > 7:
    print('great!')

great!

In [ ]:
if 7 > 5 and 8 > 7:
  print('great!')

great!

Deeply nested

In [ ]:
GE = 13
BA = 300
AMC = 86
if GE > 10:
  print('hold')
  if BA >= 300:
    print('sell')
  else:
    print('hold')
    if AMC >= 84:
      print('sell')
    else:
      print('wait')

else:
  print('choose other stocks')

hold
sell

In [ ]:
GE = 13
BA = 300
AMC = 86
if GE > 10 and AMC >= 84:
  print('hold')

hold

In [ ]:
if AMC

In [ ]:
if BA >= 300:
  print('sell')
else:
    print('hold')

sell

In [ ]:
if GE > 10 and AMC >= 84:
  print('hold')
else:
  print('choose other stocks')

hold

In [ ]:
percentage = ( 60.0 * 100.0) / 55.0
print (percentage)

109.0909090909091

In [ ]:
percentage = ( 60 * 100) // 55
print (percentage)

109

In [ ]:
def recurse(a):
    if (a == 1):
        print(a)
    else:
        recurse(a)

recurse(1)

1

In [ ]:
print ((1+1)**(5-2))

8

In [ ]:
 print (2*3-1)

5