<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar/blob/master/extracting_data_from_iex_quandl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas_datareader import data as wb

In [5]:
PG = wb.DataReader('PG', data_source='iex', start = '2017-01-01')

In [ ]:
PG

In [ ]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
  new_data[t] = wb.DataReader(t, data_source='iex', start = '2018-1-1')['close']

In [ ]:
new_data.tail()

In [7]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/8b/2b/feefb36015beaecc5c0f9f2533e815b409621d9fa7b50b2aac621796f828/Quandl-3.6.1-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

In [12]:
import quandl
#api_key = 5V93_8BtXNZ6zw_Vnmyy

In [ ]:
mydata_01 = quandl.get('FRED/GDP')

In [ ]:
mydata_1.tail()

In [ ]:
mydata_1.head()

In [ ]:
import pandas as pd

In [33]:
mydata_2 = pd.read_excel('/boot/Data_03.xlsx')

In [35]:
mydata_2.head()

   Year  Gas Exp     Pop       Gasp  Income
0  1953      7.4  159565  16.667999    8883
1  1954      7.8  162391  17.028999    8685
2  1955      8.6  165275  17.209999    9137
3  1956      9.4  168221  17.729000    9436
4  1957     10.2  171274  18.497000    9534

In [29]:
mydata_1 = pd.read_csv('/boot/Data_02.csv')

In [31]:
mydata_1.head()

         Date    Open      High  ...  Adj. Low  Adj. Close  Adj. Volume
0  2017-03-03  136.63  137.3300  ...    136.08    137.1300   11095605.0
1  2017-03-02  137.09  137.8200  ...    136.31    136.7603   12243028.0
2  2017-03-01  136.47  137.4800  ...    136.30    137.4200   16257010.0
3  2017-02-28  136.79  136.8050  ...    134.75    135.5400   16112092.0
4  2017-02-27  135.26  137.1846  ...    135.02    136.4100   14306668.0

[5 rows x 13 columns]