<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar/blob/master/Fortune_1000_data_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descriptive Statistics Assignment

In [ ]:
import pandas as pd

data_url = "https://docs.google.com/spreadsheets/d/1w1BfAGjEJk_Ywglo0nWKUk5gKmqEmfFb101IoXtj8D8/export?format=csv"

### Read the Fortune 1000 data (using `data_url`) into a Pandas data frame.

In [ ]:
data = pd.read_csv(data_url)
df = pd.DataFrame(data)

# don't need to create a data variable
# pd.read_csv() creates a DataFrame by itself
# can create the DataFrame in one line using the code below
#   df = pd.read_csv(data_url)

df.head(5)

   rank               title Previous Rank  ... State   Latitude   Longitude
0     1             Walmart             1  ...    AR  36.372854  -94.208817
1     2         Exxon Mobil             4  ...    TX  32.814018  -96.948894
2     3  Berkshire Hathaway             2  ...    NE  41.256537  -95.934503
3     4               Apple             3  ...    CA  37.322998 -122.032182
4     5  UnitedHealth Group             6  ...    MN  44.921184  -93.468749

[5 rows x 19 columns]

### Print the data type for each column.

In [ ]:
df.info()

#  can also use the below command to get the column data types
#   df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          1000 non-null   int64
 1   title                         1000 non-null   object
 2   Previous Rank                 938 non-null    object
 3   Revenues ($M)                 1000 non-null   object
 4   Revenue Change                1000 non-null   object
 5   Profits ($M)                  1000 non-null   object
 6   Profit Change                 1000 non-null   object
 7   Assets ($M)                   1000 non-null   object
 8   Mkt Value as of 3/29/18 ($M)  1000 non-null   object
 9   Employees                     1000 non-null   object
 10  CEO                           1000 non-null   object
 11  CEO Title                     1000 non-null   object
 12  Sector                        1000 non-null   object
 13  Industry                      1000 non-null   object
 14  Years on Fortune 500 List     1000 non-null   object
 15  City                          999 non-null    object
 16  State                         1000 non-null   object
 17  Latitude                      1000 non-null   float64
 18  Longitude                     1000 non-null   float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.6+ KB

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [ ]:
df.describe()

              rank     Latitude    Longitude
count  1000.000000  1000.000000  1000.000000
mean    500.499000    38.228050   -90.359700
std     288.818771     4.643421    16.145941
min       1.000000    18.422578  -157.858333
25%     250.750000    35.207699   -96.698886
50%     500.500000    39.693419   -86.583760
75%     750.250000    41.499320   -77.177260
max    1000.000000    47.978985   -66.050955

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

In [ ]:
df.describe

<bound method NDFrame.describe of      rank                            title  ...   Latitude   Longitude
0       1                          Walmart  ...  36.372854  -94.208817
1       2                      Exxon Mobil  ...  32.814018  -96.948894
2       3               Berkshire Hathaway  ...  41.256537  -95.934503
3       4                            Apple  ...  37.322998 -122.032182
4       5               UnitedHealth Group  ...  44.921184  -93.468749
..    ...                              ...  ...        ...         ...
995   996         SiteOne Landscape Supply  ...  34.023243  -84.361556
996   997  Charles River Laboratories Intl  ...  42.548171  -71.172447
997   998                        CoreLogic  ...  33.684567 -117.826505
998   999                     Ensign Group  ...  33.596891 -117.658156
999  1000                              HCP  ...  33.684567 -117.826505

[1000 rows x 19 columns]>

In [ ]:
features = ['Revenues ($M)', 'Profits ($M)', 'Assets ($M)', 'Employees']

for feat in features:
    df[feat] = df[feat].str.replace(',', '') 
    df[feat] = df[feat].str.replace('$', '')
    df[feat] = pd.to_numeric(df[feat], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          1000 non-null   int64
 1   title                         1000 non-null   object
 2   Previous Rank                 938 non-null    object
 3   Revenues ($M)                 1000 non-null   float64
 4   Revenue Change                1000 non-null   object
 5   Profits ($M)                  998 non-null    float64
 6   Profit Change                 1000 non-null   object
 7   Assets ($M)                   1000 non-null   float64
 8   Mkt Value as of 3/29/18 ($M)  1000 non-null   object
 9   Employees                     1000 non-null   int64
 10  CEO                           1000 non-null   object
 11  CEO Title                     1000 non-null   object
 12  Sector                        1000 non-null   object
 13  Industry                      1000 non-null   object
 14  Years on Fortune 500 List     1000 non-null   object
 15  City                          999 non-null    object
 16  State                         1000 non-null   object
 17  Latitude                      1000 non-null   float64
 18  Longitude                     1000 non-null   float64
dtypes: float64(5), int64(2), object(12)
memory usage: 148.6+ KB

### Calculate the Pearson correlation coefficients between Revenue, Profit, Assets, and Employees.

In [ ]:
df.corr()

                   rank  Revenues ($M)  ...  Latitude  Longitude
rank           1.000000      -0.524136  ... -0.062155  -0.073335
Revenues ($M) -0.524136       1.000000  ...  0.056538  -0.026521
Profits ($M)  -0.361420       0.602898  ...  0.041096  -0.054937
Assets ($M)   -0.274896       0.378866  ...  0.074279   0.018175
Employees     -0.341247       0.730673  ...  0.036477   0.009133
Latitude      -0.062155       0.056538  ...  1.000000   0.212258
Longitude     -0.073335      -0.026521  ...  0.212258   1.000000

[7 rows x 7 columns]

### Group the data by sector and calculate the mean and standard deviation of revenue for each sector.

In [ ]:
df.groupby(['Sector']).head(10)
print(df.groupby([df.Sector]).mean()['Revenues ($M)'])
print(df.groupby([df.Sector]).std()['Revenues ($M)'])

Sector
Aerospace &  Defense              15353.400000
Apparel                            7225.521429
Business Services                  5963.962264
Chemicals                          7610.636364
Energy                            14425.300935
Engineering &  Construction        6399.333333
Financials                        15757.935484
Food &  Drug Stores               33789.000000
Food, Beverages &  Tobacco        13790.054054
Health Care                       21239.315493
Hotels, Restaurants &  Leisure     6916.346154
Household Products                 8277.850000
Industrials                       10615.102041
Materials                          6184.400000
Media                              9219.496000
Motor Vehicles &  Parts           22817.631579
Retailing                         21874.714286
Technology                        13347.789320
Telecommunications                46695.900000
Transportation                    11379.000000
Wholesalers                       20185.204545
Name: Revenues ($M), dtype: float64
Sector
Aerospace &  Defense              22418.101024
Apparel                            8291.485768
Business Services                  4592.838066
Chemicals                         10738.264495
Energy                            29487.849008
Engineering &  Construction        4915.073135
Financials                        28233.130429
Food &  Drug Stores               44221.855781
Food, Beverages &  Tobacco        15368.556371
Health Care                       36165.320863
Hotels, Restaurants &  Leisure     6441.236788
Household Products                12247.791327
Industrials                       19158.335115
Materials                          4528.556179
Media                             12231.212650
Motor Vehicles &  Parts           47563.776080
Retailing                         61964.299034
Technology                        28849.502883
Telecommunications                57149.740825
Transportation                    15888.249777
Wholesalers                       40442.310045
Name: Revenues ($M), dtype: float64

### Create a new financial strength index variable that combines the revenue, profit, and assets variables into a single value for each company. Then sort the data frame by that value to see who has the most financial strength. 

Try different ways of calculating the index and see how your results change.

In [ ]:
df = df.assign(fin_str=df['Assets ($M)'] +df['Profits ($M)'] +df['Revenues ($M)'])
df.sort_values(by="fin_str", ascending=False).head()

    rank                  title Previous Rank  ...   Latitude   Longitude    fin_str
20    21             Fannie Mae            20  ...  47.751074 -120.740139  3460386.0
19    20         JPMorgan Chase            21  ...  40.712775  -74.005973  2671940.0
23    24  Bank of America Corp.            26  ...  35.227087  -80.843127  2399730.0
37    38            Freddie Mac            39  ...  38.933868  -77.177260  2130077.0
25    26            Wells Fargo            25  ...  37.774929 -122.419415  2071681.0

[5 rows x 20 columns]

### Group the data by sector and calculate the average financial strength index for each sector.

In [ ]:
df.groupby('Sector').mean()['fin_str']

Sector
Aerospace &  Defense               35103.620000
Apparel                            13667.114286
Business Services                  18349.550943
Chemicals                          22821.151515
Energy                             46940.218868
Engineering &  Construction        12075.325926
Financials                        209434.887097
Food &  Drug Stores                48580.525000
Food, Beverages &  Tobacco         35673.581081
Health Care                        49372.495775
Hotels, Restaurants &  Leisure     17246.865385
Household Products                 21674.021429
Industrials                        29660.006122
Materials                          13407.320000
Media                              27494.748000
Motor Vehicles &  Parts            54065.373684
Retailing                          34348.859740
Technology                         39257.254902
Telecommunications                175312.380000
Transportation                     26580.257500
Wholesalers                        27931.031818
Name: fin_str, dtype: float64

In [ ]:
df.groupby('Sector')['fin_str'].mean()

Sector
Aerospace &  Defense               35103.620000
Apparel                            13667.114286
Business Services                  18349.550943
Chemicals                          22821.151515
Energy                             46940.218868
Engineering &  Construction        12075.325926
Financials                        209434.887097
Food &  Drug Stores                48580.525000
Food, Beverages &  Tobacco         35673.581081
Health Care                        49372.495775
Hotels, Restaurants &  Leisure     17246.865385
Household Products                 21674.021429
Industrials                        29660.006122
Materials                          13407.320000
Media                              27494.748000
Motor Vehicles &  Parts            54065.373684
Retailing                          34348.859740
Technology                         39257.254902
Telecommunications                175312.380000
Transportation                     26580.257500
Wholesalers                        27931.031818
Name: fin_str, dtype: float64