<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar/blob/master/Functions_with_Terrence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#pick a variable name
# pick my fav website
google = "www.google.com"

In [2]:
#the + attaches another value to the variable
print(google + "Videos")

www.google.comVideos

In [3]:
#/ adds a specific website link
print(google + '/Videos')

www.google.com/Videos

In [0]:
#create an empty line code '/n'
empty_lines = "/n"

In [5]:
print(empty_lines)

/n

In [0]:
myfavmovies = "Gattaka, Papillon, Eagle Huntress, Lion"

In [0]:
myfavshows = "Billions, Mata Hari, Matrix"

In [7]:
print(myfavmovies)

Gattaka, Papillon, Eagle Huntress, Lion

In [8]:
print(empty_lines)

/n

In [11]:
print(myfavshows)

Billions, Mata Hari, Matrix

In [12]:
print(myfavshows)
print(empty_lines)
print(myfavmovies)

Billions, Mata Hari, Matrix
/n
Gattaka, Papillon, Eagle Huntress, Lion

In [13]:
print("Diamond Gaukhar Javarova")

Diamond Gaukhar Javarova

In [15]:
#\n creates a space
print("Diamond\nGaukhar Javarova")

Diamond
Gaukhar Javarova

In [0]:
step 9 add this code and hit run

In [0]:
#start by printing a universal and classic message. the print fucntion with () and parenthesis inside prints 
#whatever we have inside

In [16]:
print("hello, world")

hello, world

now we use integers or whole numbers we dont need " marks same thing

In [17]:
print(55)
print(55.555)

55
55.555

def is a keyword signifies that a fucntion is about to be defined
next is the function name (diamonds)
next is parameter within() this could be none or how many you input (number of diamonds)
: tells python providing the lines of code making up the main body of the function. 
return button ends the statement
next is the function's arameter list, which are the parameters the fucntion will expect to be passed inside to the main body of the function when the fucntion is called. 
in our ex our body is just one line of code: return size_of_diamonds*5 
i chose 3 cuz i want 5 diamonds

In [0]:
def diamonds(size_of_diamonds):
  return size_of_diamonds*5

In [25]:
#now plug in a number inside () that represents the size of diamonds
diamonds(5)

25

In [27]:
diamonds

In [0]:
#now lets put into a variable
diamondsforfamily = diamonds(555)

In [24]:
print(diamondsforfamily)

2775

ask the user for input and store the result in a variable. 
Variable = lambo_count
int = equals whole number value we accept

In [35]:
lambo_count = int(input("How many lambos are in the garage?"))
#input code tell us we need a number to move forward
#format is commonly used to organize code strings (aka characters that can be numberical or text)
print("There are{} lambos in the garage.".format(lambo_count))

How many lambos are in the garage?100
There are100 lambos in the garage.

In [40]:
#if answer is yes we ask another question
if input ('Would you like to buy any?') =="yes":
  removed_lambos = int(input('Ok, how many?')) #if answer is yes
  lambos_count = lambo_count - removed_lambos
  print("there are now {} lambos in the garage and thanks for shopping with us!".format(lambo_count))
else:
  print("Ok, thanks for considering shopping with us.".format(lambo_count))

Would you like to buy any?5
Ok, thanks for considering shopping with us.

In [43]:
my_name = "Diamond"
greeting = "Welcome"
def say_hello(name):
  if name =="":
    print("you can't introduce yourself if you dont add your name!")
  else:
    print(greeting + " " + name)

#click the "play" button to execute this code. 
say_hello(my_name)

Welcome Diamond

In [0]:
my_age = 30

In [0]:
def grant_access(age):
  if age>25:
    print("access submitted")
  else:
    print("access denied")

In [48]:
#we can "concatenate" strings or "add" them together
full_name = my_name + " " + "A" + " " + "Javarova"
print(full_name)

Diamond A Javarova

In [49]:
#we can make a string all lower case or upper case
print(my_name.lower(), my_name.upper())

diamond DIAMOND

In [50]:
#we can split strings on certain characters
full_name.split()

['Diamond', 'A', 'Javarova']

In [51]:
#or replace specific characters by default all instances are replaces, I just want the first replaced so I add 1
full_name.replace("a", "j")

'Dijmond A Jjvjrovj'