<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar/blob/master/simple_return.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PG = wb.DataReader('PG', data_source='yahoo', start = '1995-1-1')

In [3]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.166473
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   8.101009
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.986450
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   8.002816
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.970086

In [4]:
PG.tail()

                  High         Low  ...     Volume   Adj Close
Date                                ...
2021-03-31  136.750000  135.259995  ...  9202600.0  135.429993
2021-04-01  135.479996  133.330002  ...  9116600.0  134.279999
2021-04-05  137.250000  134.729996  ...  8279100.0  136.449997
2021-04-06  137.020004  135.639999  ...  6140300.0  136.500000
2021-04-07  137.330002  136.250000  ...  6304689.0  136.740005

[5 rows x 6 columns]

Today's price / yesterdays price - 1 = rate of return

pandas.DataFrame.shift(# of lags) shift index by # (here value of the previous 1 day)

In [6]:
PG['simple_return'] = (PG['Adj Close']/PG['Adj Close'].shift(1)) - 1
print(PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2021-03-31   -0.000148
2021-04-01   -0.008491
2021-04-05    0.016160
2021-04-06    0.000366
2021-04-07    0.001758
Name: simple_return, Length: 6612, dtype: float64